* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Pacfont";
    src: url("../fonts/CrackMan.TTF") format("truetype");
  }

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    color: #181818;
}

#game-over {
    text-align: center;
    font-family: "Pacfont", sans-serif;
    font-size: 36px;
}

img{
    width: 100px;
    height: 100px;
}

h1, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 0 10px #ffd90093, 0 0 20px #f2ff37, 0 0 30px #ffee00;
}

#button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

button {
    margin: 50px;
    padding: 25px 100px;
    text-align: center;
    font-size: 24px;
    font-family: "Pacfont", sans-serif;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #151515;
    color: #c4c114;
    border: 3px solid;
    border-color: #FFFF00;
    border-radius: 20px;
}

button:hover {
    background-color: #c4c114;
    color: #151515;
}
