/** {
    outline: 1PX dotted purple;
} */

div {
    vertical-align: top;
    background-size: cover;
}

.pacman {
    background-image: url('../IMG/pacman.gif');
}

.wall {
    background-image: url('../IMG/wall.png');
}
.food {
    background-image: url('../IMG/food.png');
}

.blank {
    background-image: url('../IMG/blank.png');  
}

.ghostOrange{
    background-image: url('../IMG/ghostOrange.png');
}

.ghostPink{
    background-image: url('../IMG/ghostPink.png');
}

.asset{
    width: 32px;
    height: 32px;
    background-color: black;
    display: inline-block;
}