/** {
    outline: 1PX dotted purple;
} */

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #181818;
}

div {
    vertical-align: top;
    background-size: cover;
}

.pacman {
    background-image: url('../IMG/pacman.gif');
}

.wall {
    background-image: url('../IMG/wall.png');
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.food {
    background-image: url('../IMG/food.png');
}

.blank {
    background-image: url('../IMG/blank.png');
}

.ghostOrange {
    background-image: url('../IMG/ghostOrange.png');
}

.ghostPink {
    background-image: url('../IMG/ghostPink.png');
}

.ghostRed {
    background-image: url('../IMG/ghostRed.png');
}

.ghostCyan {
    background-image: url('../IMG/ghostCyan.png');
}

.asset {
    width: 72px;
    height: 72px;
    background-color: black;
    display: inline-block;
}