@font-face {
    font-family: "Pacfont";
    src: url("../fonts/PacfontGood-yYye.ttf") format("truetype");
}

html,
body {
    margin: 0;
    padding: 0;
}

.win {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #181818;
}

.win-screen {
    background-color: #181818;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.win-screen h1 {
    font-family: "Pacfont", sans-serif;
    font-size: 82px;
    margin-bottom: 10px;
    color: #ff0;
}

.win-screen h2 {
    font-family: "Pacfont", sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
    color: #ff0;
}

.pacman-gif {
    width: 200px;
    height: 200px;
}

.button-container {
    margin-top: 40px;
}

.menu-button {
    font-family: "Pacfont", sans-serif;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    background-color: #ff0;
    border: 2px solid #ff0;
    border-radius: 20px;
    font-size: 24px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-button:hover {
    background-color: #181818;
    color: #ff0;
}

.restart-button {
    font-family: "Pacfont", sans-serif;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    background-color: #ff0;
    border: 2px solid #ff0;
    border-radius: 20px;
    font-size: 24px;
    transition: background-color 0.3s, color 0.3s;
}

.restart-button:hover {
    background-color: #181818;
    color: #ff0;
}