@font-face {
    font-family: "Pacfont";
    src: url("../fonts/PacfontGood-yYye.ttf") format("truetype");
}

html,
body {
    margin: 0;
    padding: 0;
}

.win {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #181818;
}

.win-screen {
    background-color: #181818;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.win-screen h1 {
    font-family: "Pacfont", sans-serif;
    font-size: 92px;
    margin-bottom: 80px;
    color: #ff0;
    text-shadow: 0 0 8px #ffd90093, 0 0 20px #f2ff37, 0 0 30px #ffee00, 0 0 40px #ffee00, 0 0 50px #ffee00, 0 0 60px #ffee00, 0 0 70px #c4b700;
}

.win-screen h2 {
    font-family: "Pacfont", sans-serif;
    font-size: 36px;
    margin-bottom: 50px;
    color: #ff0;
    text-shadow: 0 0 4px #ffd90093, 0 0 20px #f2ff37, 0 0 30px #ffee00, 0 0 40px #ffee00, 0 0 50px #ffee00, 0 0 60px #ffee00, 0 0 70px #c4b700;
}

.pacman-gif {
    width: 200px;
    height: 200px;
}

.button-container {
    margin-top: 100px;
}

.menu-button {
    margin: 50px;
    padding: 25px 100px;
    text-align: center;
    font-size: 24px;
    font-family: "Pacfont", sans-serif;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #151515;
    color: #c4c114;
    border: 3px solid;
    border-color: #FFFF00;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-button:hover {
    background-color: #c4c114;
    color: #151515;
}

.restart-button {
    margin: 50px;
    padding: 25px 100px;
    text-align: center;
    font-size: 24px;
    font-family: "Pacfont", sans-serif;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #151515;
    color: #c4c114;
    border: 3px solid;
    border-color: #FFFF00;
    border-radius: 20px;
}

.restart-button:hover {
    background-color: #c4c114;
    color: #151515;
}
